/* css hex values
--thistle: #cdb4dbff;
--fairy-tale: #ffc8ddff;
--carnation-pink: #ffafccff;
--persian-indigo: #27187eff;
--jet: #30323dff;
*/

/*
	container sections
	This code was used to divide the page into several sections, it was adapted to handle the changing site layout on the tips and about pages;
	https://stackoverflow.com/questions/36662712/how-do-i-divide-a-page-in-three-vertical-sections
*/
.container {
	width: 100%;
	height: 100%;
	color: #ffc8ddff;
}

.toppane {
	width: 100%;
	height: 10%;
	background-color: #cdb4db;
}

.leftpane {
	width: 20%;
	background-color: #30323dff;
}

.rightpane {
	width: 80%;
	height: 90%;
	background-color: #27187eff;
}

.widescreen {
	width: 100%;
	background-color: #27187eff;
}

body {
	margin: 0!important;
}

.d-flex {
	display: flex;
}

/* navigation bar */
.nav {
	font-family: "Lucida Handwriting";
    border: 1px solid #ffc8ddff;
    border-width: 1px 0;
    list-style: none;
    margin: 1px;
    padding: 0;
    text-align: center;
	display: flex;
}
.nav li {
    display: inline;
}
.nav a {
    display: inline-block;
    padding: 10px;
}

/* toppane */
.pageheader {
	display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
	justify-content: center;
    align-items: center;
}

/* tips and tricks */
.rotation {
    border: 1px solid #ffc8ddff;
	border-width: 1px 0;
    margin: 1px;
    padding: 0;
    text-align: right;
	display: flex;
}

.rotation p {
    max-width: 300px;
}

/* anchor link */
.Anchor a {
	margin: 0;
    text-align: center;
	display: block;
	padding: 10px;
}

/* gel */
.leftpane h1 {
	margin: 10px;
}

.leftpane h3 {
	
}

.rightpane h2 {
	display: inline-block;
	float: left;
}	

.rightpane h6 {
    margin: 0;
    padding: 0;
    text-align: center;
	display: block;
}

.rightpane img {
	float: right;
	border: 10px solid #ffc8ddff;
}

/*
	recipes layout
	This code was adapted to make page successfully layout using divs
	https://stackoverflow.com/questions/57841854/image-left-text-and-header-to-the-right-aligned-top-in-html-and-css
*/
#my-team .recipelist {
    margin: 20px 20px 0 0;
    overflow:auto;
}

#my-team .recipe {
    display: flex;
    margin-bottom: 10px;
}

#my-team .recipe-image {
    margin-right: 10px;
}

#my-team .recipe-image img {
}

#my-team .recipe-details {
}

#my-team .recipe-name {
    margin-top: 0;
    font-weight: bold;
    font-size: 200%
}

.widescreen h2 {
  margin: 0 auto;
  width: 50%;
  padding: 1em;
  text-align: center;
}

form {
  margin: 0 auto;
  width: 50%;
  padding: 1em;
  border: 1px solid #ffc8ddff;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  display: inline;
  text-align: right;
}

input {
  font: 1em sans-serif;
  box-sizing: border-box;
  border: 1px solid #27187eff;
}

textarea {
  font: 1em sans-serif;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #27187eff;
}

input:focus,
textarea:focus {
  border-color: #27187eff;
}

textarea {
  vertical-align: top;
  height: 5em;
}

.button {
  padding-left: 90px; */
}

button {
  margin-left: 0.5em;
}

#my_canvas {
	margin: 10px;
}